@font-face {
  font-family: "iconfont"; /* Project id 4429173 */
  src: url('//at.alicdn.com/t/c/font_4429173_roq2r6pzsym.woff2?t=1706787377376') format('woff2'),
       url('//at.alicdn.com/t/c/font_4429173_roq2r6pzsym.woff?t=1706787377376') format('woff'),
       url('//at.alicdn.com/t/c/font_4429173_roq2r6pzsym.ttf?t=1706787377376') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-denglu:before {
  content: "\e621";
}

.icon-changyonglogo35:before {
  content: "\e71c";
}

.icon-sousuo:before {
  content: "\e6a8";
}
