.login{
  width: 100vw;
  height: 100vh;
  background: center/cover #F5CBE0 ;
  &-container{
    width: 440px;
    height: 360px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 50px rgb(0 0  0 / 10%);
    .login-logo{
      width: 200px;
      height: 60px;
      display: block;
      object-fit: contain;
      margin: 0 auto 20px;
    }
    .login-checkbox-lable{
      color: #1890ff;
    }
  }
}